<h1>Data Science Tools and Ecosystem <h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the popular languages that Data Scientists use are:

### ordered list
1. python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
## ordered list
1. TensorFlow
2. SciPy
3. NumPy

Data Science Tools

<font size=4 color='green'>Имя программы</font>|<font size=4 color='green'>Дата випуска</font>|<font size=4 color='green'> Язык программирования</font>

<font size=4 color='blue'>Apache Hadoop </font>|<font size=4 color='blue'>1 апреля 2006</font>|<font size=4 color='blue'> Java</font>

<font size=4 color='blue'>Apache Spark </font>|<font size=4 color='blue'>30 мая 2014</font>|<font size=4 color='blue'> Python, Scala, Java</font>

<font size=4 color='blue'>Apache Flink </font>|<font size=4 color='blue'>6 января 2015</font>|<font size=4 color='blue'> Java и Scala</font>

In [1]:
5 + 3 * 2

11

In [2]:
(3*4)+5

17

In [4]:
##This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60

# Вывод результата
print(f"{minutes} минут — это {hours} часов.")

200 минут — это 3.3333333333333335 часов.

## Author

Інеса